<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pascs.citizen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PASCS">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".activities.MainActivity" />

        <activity
            android:name=".TakeQueueActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".QueueStatusActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".BookAppointmentActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".ApplicationListActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".ApplicationDetailActivity"
            android:parentActivityName=".ApplicationListActivity" />

        <activity
            android:name=".AppointmentListActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".AppointmentDetailActivity"
            android:parentActivityName=".AppointmentListActivity" />

        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".activities.MainActivity" />

    </application>

</manifest>